{% load staticfiles %}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<script src="{% static "scrumboard/scrumboard.js" %}"></script>

<html>
<body ng-app="scrumboard.demo">

<!-- verbatim stops django from trying to provide person.name -->
{% verbatim %}
<!-- using our controller in this div means we can access any data in the scope -->
<div ng-controller="ScrumboardController">
    <!-- data refers to $scope.data -->
    <div ng-repeat="list in data">
        <h3>{{ list.name }}</h3>
        <ul>
            <li ng-repeat="card in list.cards">{{ card.title }}</li>
            <input ng-model="new_title"/>
            <button ng-click="add(list, new_title)">+</button>
        </ul>
    </div>
</div>
{% endverbatim %}

</body>
</html>